In [2]:
import json
import pandas as pd
import os
top_transcn_path='D:/Learning/Projects/PhonepePulseDataVisualization/src/phonepeData/data/top/transaction/country/india/'

top_transcn_by_st = {'State': [], 'Year': [], 'Quarter': [], 'Transaction_count': [],
            'Transaction_amount': []}
top_transcn_by_dt = {'District': [], 'Year': [], 'Quarter': [], 'Transaction_count': [],
            'Transaction_amount': []}
top_transcn_by_pcd = {'PinCode': [], 'Year': [], 'Quarter': [], 'Transaction_count': [],
            'Transaction_amount': []}

year_list = os.listdir(top_transcn_path)

for year in year_list:
    if year  == 'state':
        continue
    path = top_transcn_path+year+'/'
    quarter_list = os.listdir(path)
    for quarter in quarter_list:
        qtr_path = path+quarter
        D = open(qtr_path,'r')
        data =json.load(D)
        for value in  data['data']['states']:
            Name = value['entityName']
            count = value['metric']['count']
            amount=(value['metric']['amount'])
            top_transcn_by_st['Transaction_amount'].append(amount)
            top_transcn_by_st['Transaction_count'].append(count)
            top_transcn_by_st['State'].append(Name)
            top_transcn_by_st['Year'].append(year)
            top_transcn_by_st['Quarter'].append(int(quarter.strip('.json')))
        for value in  data['data']['districts']:
            Name = value['entityName']
            count = value['metric']['count']
            amount=(value['metric']['amount'])
            top_transcn_by_dt['Transaction_amount'].append(amount)
            top_transcn_by_dt['Transaction_count'].append(count)
            top_transcn_by_dt['District'].append(Name)
            top_transcn_by_dt['Year'].append(year)
            top_transcn_by_dt['Quarter'].append(int(quarter.strip('.json')))
        for value in  data['data']['states']:
            Name = value['entityName']
            count = value['metric']['count']
            amount=(value['metric']['amount'])
            top_transcn_by_pcd['Transaction_amount'].append(amount)
            top_transcn_by_pcd['Transaction_count'].append(count)
            top_transcn_by_pcd['PinCode'].append(Name)
            top_transcn_by_pcd['Year'].append(year)
            top_transcn_by_pcd['Quarter'].append(int(quarter.strip('.json')))

top_transcation_st_df = pd.DataFrame(top_transcn_by_st) 
top_transcation_dt_df = pd.DataFrame(top_transcn_by_dt) 
top_transcation_pcd_df = pd.DataFrame(top_transcn_by_pcd)

In [4]:
top_transcation_dt_df.dtypes

District               object
Year                   object
Quarter                 int64
Transaction_count       int64
Transaction_amount    float64
dtype: object

In [3]:
top_transcation_dt_df.head()

          District  Year  Quarter  Transaction_count  Transaction_amount
0  bengaluru urban  2018        1            8306513        1.416275e+10
1             pune  2018        1            3842929        5.378982e+09
2    central delhi  2018        1            2997714        4.312145e+09
3           mumbai  2018        1            2671029        3.923117e+09
4          chennai  2018        1            2656230        4.281138e+09